{% extends "wrapper.html" %}

{% block title %}{{ title }}{% endblock %}
{% load static %}

{% block content %}

<header class="header" id="header">
      <div class="container">
        <div class="row">
          <div class="col-xl-7 col-md-12">
            <div class="header-text_container">
                <div class="header-text_h1">Уникальный проект</div>
                <div class="header-text_p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur consequatur dolores ducimus expedita facilis fuga inventore ipsa iste itaque iure, molestias perferendis sit tempore veritatis! Consequatur dolorem, eos error ex inventore maxime molestiae nobis perspiciatis quaerat quisquam quos recusandae repudiandae soluta, unde voluptate! Asperiores culpa eius laborum minus recusandae temporibus! Amet autem, explicabo facere illo ipsum laboriosam libero sequi.</div>
                {% if user.is_authenticated == False  %}
                    <a href="{% url 'signup' %}" class="buttons mr-3">Зарегистрироваться</a>
                {% endif %}
                <a href="" class="buttons-light">Скачать лаунчер</a>
            </div>
          </div>
        </div>
      </div>
    </header>
{% endblock %}