{% extends "wrapper.html" %}

{% block title %}Авторизация{% endblock %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'accounts/style_accounts.css' %}" type="text/css">
<form class="box" method="POST">
    {% csrf_token %}
    <h1>Авторизация</h1>
    {{form.username}}
    {{form.password}}
    <span class="error_text">{{error}}</span>
    <button type="submit">Войти!</button>
    <a href="{% url 'signup' %}" class="url_text">Регистрация</a>
</form>

{% endblock %}