{% extends "wrapper.html" %}

{% block title %}Инфомация{% endblock %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'personalroom/css/style.css' %}" type="text/css">
<h1>Личный кабинет GrinCraft</h1>
<div class="list-group">
  <span class="help-text">НАСТРОЙКИ</span>
  <a href="{% url 'profile' %}" class="list-group-item list-group-item-action" aria-current="true">
    Личный кабинет
  </a>
  <a href="{% url 'profile-info' %}" class="list-group-item list-group-item-action active">Информация</a>
  <a href="#" class="list-group-item list-group-item-action">Безопасность</a>
  <a href="" class="list-group-item list-group-item-action">Платные статусы</a>
  <a href="{% url 'logout' %}" class="list-group-item list-group-item-action logout">Выйти</a>
</div>


<div class="block-body container">
  <div class="text-block">
    <ul>
      <li>Ник: <span>{{username}}</span><a href="" class="buttons change">Изменить</a></li>
      <li>Email: <span>{{email}}</span>{% if not email == '' %}
                                          <a href="" class="buttons change">Изменить</a>
                                        {% else %}
                                          <a href="{% url 'welcome' %}" class="buttons change">Подтвердить</a>
                                        {% endif %}
                                        </li>
      <li>На проекте с: <span></span></li>
      <li>Дата рождения: <span></span><a href="" class="buttons change">Изменить</a></li>
    </ul>
  </div>
</div>
{% endblock %}