@media (min-width: 1200px){
.container {
    max-width: 1450px!important;
}
}

.text{
    color:red;
}

.navbar-brand{
    font-weight: 700;
    color: #414141!important;
    margin-right: 50px!important;
}

.nav-item{
    margin-right:30px;
    font-weight: 600;
}

.buttons{
    color:#fff;
    border-radius:3px;
    background-color:#ffffff;
    background-image: linear-gradient(to right,#9861da 0%,#8656d3 100%);
    border:none;
    padding: 8px 25px;
}
.buttons:hover{
    color: #fff;
    text-decoration: none;
}

.buttons-light{
    color:#1a1a1a;
    border-radius:3px;
    background-color:rgba(0, 0, 0, 0.09);
    border:none;
    padding: 8px 25px;
}
.buttons-light:hover{
    color: #1a1a1a;
    text-decoration: none;
}

.header{
    background:url(../img/hitech.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-opacity: 0.1;

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    height:700px;

    -ms-align-items: center;
    align-items: center;
}

.header-text_h1{
    color:414141;
    font-size:40px;
    font-weight: 600;
    letter-spacing:1,5px
}

.header-text_p{
    opacity:0,8;
    margin-bottom:20px
}